<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>{{ title }}</title>
    @vite
    @alloyHead
  </head>
  <body class="forge-page">
    @alloy
  </body>
</html>
